@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
    background-color: #FFF8E8;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 22px;
}

nav a{
    text-align: center;
    background-color: #FFF8E8;
    color: #990D35;
    text-decoration: none;
    padding: 35px;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}


header{
    background-color: #990D35;
}
nav a:hover{
    background-color: #990D35;
    color: #FFF8E8;
}
.book, .join{
    background-color: #FFF8E8;
    color: #990D35;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #990D35;
    color: #FFF8E8;
}
#background{
    background-color: #990D35;
}
.msg{
    background-color: #FFF8E8;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: steelblue;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title{
    color: #990D35;
}
h4{
    color: #990D35;
    text-align: center;
}

.msg p{
    color: #990D35;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: #990D35;
    background-color: #FFF8E8;
    text-decoration: none;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p {
    font-size: 1.2em;
    padding: 25px;
}

footer p a:hover{
    text-decoration: underline;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

nav {
    padding: 25px;
}
a {
    color: white;
    padding: 25px;
}
p {
    margin: 50px auto;
}

.home-title {
    font-family: Montserrat;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
    font-family: Montserrat;
    color: #990D35;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}