* {
    margin: 0;
    padding: 0;
}

#bubbles {
    background-image: url("/images/w05_circles.jpg");
    background-size: cover;
    height: 550px;
}

#gray {
    background-color: gray;
    height: 450px;
    text-align: center;
    padding: 25px;
}

.rounded {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    border: 5px solid #4B4B4B;
}